{% extends 'base.html.twig' %}

{% block body %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2> {{product.title}} </h2>
        <p> {{product.descriptionShort}} </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">
      	
        <div class="row">
          <div class="col-lg-8">
            <img src="{{asset('assets/img/course-details.jpg')}}" class="img-fluid" alt="">
            <h3>{{ product.title }}</h3>
            <p>{{ product.fullDescription }}</p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Formateur</h5>
              <p> {{ product.trainer }} </a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Lieux</h5>
              <p> {{product.places}} </p>
            </div>
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Validation visé</h5>
              <p> {{product.diploma}} </p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Durée</h5>
              <p>{{ product.duration }}H</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Prix (net de taxe)</h5>
              <p>{{product.price}} €</p>
            </div>

          </div>

        </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Prérequis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Durée et modalités</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Information handicap</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Délais d'accès à la formation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Financement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li><li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li><li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li><li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li><li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li><li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li><li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Session</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Prérequis et modalités d'inscription pour suivre la formation</h3>
                    <p> {{ product.fulldescription }} </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{asset('assets/img/course-details-tab-1.png')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>110H en FOAD (Formation ouverte à distance)</h3>
                    <p class="fst-italic">La formation se décompose en plusieurs modules avec le formateur où en
                      individuelle</p>
                    <p>25 heures de formation individuelle en direct avec un formateur, réparties en 5 sessions de 2
                      heures, 2 sessions de 3 heures et 30 minutes, ainsi que 2 sessions de 3 heures via
                      visioconférence. De plus, 2 heures de suivi à distance sont incluses dans le programme. En
                      complément, les stagiaires devront consacrer 85 heures à des travaux personnels, incluant des
                      recherches, la création de tableaux, la lecture de documents complémentaires aux visioconférences,
                      la rédaction et la réalisation d'exercices. Ce temps alloué est une moyenne attendue pour assurer
                      un apprentissage efficace des participants.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{asset('assets/img/course-details-tab-3.png')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Nos formations peuvent être accessibles aux personnes en situation de handicap.</h3>
                    <p class="fst-italic">Chaque situation étant unique, nous vous demandons de préciser à l'inscription
                      votre handicap.</p>
                    <p>Ainsi nous pourrons faire en sorte de vous accueillir dans les meilleurs conditions pour suivre
                      la formation. Pour toutes informations complémentaires, nous vous conseillons les structures
                      suivantes : <a href="https://www.onisep.fr/Formation-et-handicap">ONISEP </a>, <a
                        href="https://www.agefiph.fr/">AGEFIPH</a> et <a href="https://www.fiphfp.fr/">FIPHFP</a>. </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{asset('assets/img/course-details-tab-4.png')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3></h3>
                    <p class="fst-italic">Notre organisme de formation s'engage à vous répondre dans un délai de 72
                      heures.</p>
                    <p>Nous envisagerons la date de début de formation la plus appropriée en fonction de vos besoins,
                      préférences et contraintes. Sauf cas particulier et en fonction des disponibilités du stagiaire,
                      du formateur, le délai pour la mise en place de la formation est habituellement d'un mois (en
                      moyenne). L'accès à nos formations peut être initié par l'employeur, à l'initiative du salarié,
                      par un particulier, à la demande de Pôle Emploi …<br>Pour vos demandes de formation, contactez
                      nous via notre <a href="">Formulaires</a> </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{asset('assets/img/course-details-tab-5.png')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Découvrez les financements auxquels vous avez droit</h3>
                    <p class="fst-italic">Il existe plus d’une dizaine de financements possibles. A qui s’adressent-ils
                      ? Comment en bénéficier ? Et pour quelles formations ? </p>
                    <p>Clarifier vos droits au financement est une étape cruciale dans la mise en œuvre de votre
                      parcours de formation. Pour y voir plus clair, nous vous proposons de nous l'indiquer dans le formulaire d'inscription afin de trouver le financement auquel vous pouvez prétendre.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{asset('assets/img/course-details-tab-2.png')}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Les prochaines sessions de la formation "Devenir éleveur d'insectes comestibles"</h3>
                    <p class="fst-italic">À noter que ces dates servent d'indication et peuvent être adapter à chacun </p>
                    <p>Du 3 juillet 2023 au 13 octobre 2023 <br>Du 11 septembre 2023 au 15 décembre 2023 <br>Du 2 octobre 2023 au 12 janvier 2024 <br> Du 13 novembre 2023 au 16 février 2024</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{asset('assets/img/course-details-tab-2.png')}} " alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Tabs Section -->
  
  
 

{% endblock %}