{% extends 'base.html.twig' %}
{% block body %}


	<div class="container-fluid " id="post" style="margin-top: 100px;">
		<div class="row">


			<div
				class="col-lg-8 mx-auto">
				<!-- Post content-->
				<article>
					<!-- Post header-->
					<header
						class="mb-4">
						<!-- Post title-->
						<h1 class="fw-bolder mb-1">
							{{ actuality.title }}
						</h1>
						<!-- Post meta content-->
						<div class="text-muted fst-italic mb-2">Publié le
							{{ actuality.publishat|date('d/m/Y') }}
						</div>
					</header>
					<!-- Preview image figure-->
					{% if actuality.image_card is empty %}
						<img src="{{ asset('assets/img/events-1.jpg') }}" class="img-fluid-rounded" alt="...">
					{% else %}
						<img src="{{ asset('assets/img/article/' ~ actuality.image_card ) }}" class="img-fluid-rounded" alt="...">
					{% endif %}
				</figure>
				<!-- Post content-->
				<section class="mb-5">
					<p class="fs-5 mb-4">
						{{ actuality.textactuality }}
					</p>

				</section>
			</article>
		</div>
	</div>
</div>{% endblock %}
